@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: hsl(235, 18%, 26%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    font-family: Roboto;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text_container {
    width: 100%;
}
  
ul{
    list-style-type: none;
    padding-top: 10px;
}

li{
    padding: 8px;
    margin: 8px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 10px;
}

form{
    width: 100%;
    padding: 20px;
    font-size: 10px;
    color: #36454F;
}

button{
    padding: 15px;
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}

input[type=email]{
    font-size: 16px;
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

p{
    font-size: 16px;
    align-items: center;
    padding-left: 16px;
}
  
h2{
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}

h1{
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 25px;
    padding: 15px;
    color: black
}

.image-mobile {
    display: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        width: 100%;
    }
    .image-mobile {
        display: block; 
    }
    .image-desktop {
        display: none;
    }
    .text_container {
        padding: 15px;
    }
    h1{
        font-size: 20px;
    }
}
